

.container{
    background-color: #003459;
    border-right: 1px solid rgb(236, 236, 236);
    -webkit-flex: 0 0 50px;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    height: 100%;
    position: fixed;
    top: 0;
    color: white;
}

.title{
    font-weight: 200;
}

.button{
    height: 45px;
    width: 45px;
    align-content: center;
    margin-top: 10px;
}

.button:hover{
    cursor: pointer;
}

.container i{
    font-size: 2em;
    margin: 5px;
    color: white;
}